argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
black==25.1.0
cffi==1.17.1
click==8.2.1
cryptography==45.0.5
joblib==1.5.1
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.8
pycparser==2.22
